Test Data/Xml.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="note">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="AccNo" type="xs:string"/>
      <xs:element name="ZipCode" type="xs:string"/>  
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>